body {
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background: rgba(255, 165, 176, 0.5);
}

h1, h2 {
    color: #6A197D;
}

.icons {
    width: 35px;
}

.userIcon {
    margin-left: 60px;
    margin-right: 40px;
}

.main {
    display: flex;
    /*justify-content: space-between;*/
}

.sectionLeft {
    width: 20%;
    background-color: #e5c7ec;
    height: 600px;
}

.sectionRight {
    width: 25%;
    height: 600px;

    background-color: #bcd0d9;
}
.cardWrapper {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.card{
    flex-grow: 4;
}