.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFA5B0;
    color: #6A197D;
    height: 15rem;
    border-top: solid 2px #E0DEDE;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-content: space-around;
}
.iconsArea{
    justify-self: end;
    align-self: center;
    margin-right: 1rem;
}
.footerIcon{
    height: 1.2rem;
    width: 1.2rem;
    margin-left: 0.6rem;
    background-image: linear-gradient(#ffffff, #ffffff);
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
}
.footerIcon:hover{
    height: 1.25rem;
}
.footerTextArea{
    margin-left: 1rem;
    align-self: center;
}
.footerTextAreaCenter{
    text-align: center;
    align-self: center;
}

