.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(194, 206, 255, 0.7);;
    color: #6A197D;
    height: 15rem;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-content: space-around;
}
.iconsWrap{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}
.iconsArea {
    justify-self: end;
    align-self: center;
    margin-right: 1rem;
}

.footerIcon {
    height: 3rem;
    width: 3rem;
    margin-left: 0.6rem;
    background-color: white;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
}

.footerIcon:hover {
    box-shadow: 1px 1px 10px #6A197D;
}

.footerTextArea {
    margin-left: 1rem;
    align-self: center;
}

.footerTextAreaCenter {
    text-align: center;
    align-self: center;
}

.footerText {
    cursor: pointer;
}

.footerText:hover {
    text-decoration: underline;
}

.footerTextCenterTitle {
    font-weight: bolder;
    letter-spacing: 5px;
    cursor: default;
}

#getInTouch {
    text-align: end;
    margin-bottom: 2rem;
}

.leftTitle {
    color: #6A197D;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 2rem;
}

.dropdown {
    margin-top: 2rem;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.2rem;
    color: #6A197D;
}

hr {
    margin: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

.dropdown-content:hover {
    text-decoration: underline;
}

p {
    margin: 0.2rem;
}

#address {
    text-decoration: none;
    cursor: default;
}

.footerTitle {
    cursor: default;
}

.wrapperForSmallScreen {
    display: flex;
}
@media only screen and (max-width: 1200px) {
    .homeTitle {
        font-size: 4rem;
        font-weight: 500;
        letter-spacing: 30px;
        margin-top: 3rem;
    }
    .shopTitle {
        font-size: 2rem;
    }
}
@media only screen and (max-width: 900px) {
    .homeTitle {
        font-size: 3rem;
        font-weight: 500;
        letter-spacing: 20px;
        margin-top: 2rem;
    }
    .shopTitle {
        font-size: 1.5rem;
    }
    .leftTitle {
        font-size: small;
        margin-left: 0.5rem;
    }

    .dropdown-content {
        min-width: 3rem;
        font-size: 0.5rem;
        padding: 0.05rem;
    }

    .footerTextCenterTitle {
        font-size: x-large;
    }

    .footerTitle {
        font-size: medium;
        font-weight: bold;
    }

    .footerIcon {
        height: 2.5rem;
        width: 2.5rem;
    }

    .footerText {
        font-size: medium;
    }
}

@media only screen and (max-width: 770px) {
    .footerIcon {
        height: 1.5rem;
        width: 1.5rem;
        padding: 0.5rem;
    }

    .footerTextCenterTitle {
        font-weight: bolder;
        letter-spacing: 1px;
        font-size: large;
    }

    .footerTitle {
        font-size: small;
    }

    .footerText {
        font-size: small;
    }
}

@media only screen and (max-width: 590px) {
    .homeTitle {
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 10px;
        margin-top: 2rem;
    }
    .shopTitle {
        font-size: 1rem;
    }
    .iconsWrap {
        display: flex;
        flex-flow: column;
        justify-items: end;
    }
    .iconsArea {
        margin-right: 1rem;
    }
    .footerTitle {
        display: none;
    }

}

@media only screen and (max-width: 450px) {
    .footerTextAreaCenter {
        display: none;
    }

    .footer {;
        height: 8rem;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .iconsWrap {
        display: flex;
        flex-flow: row;
    }

    .footerText {
        font-size: 8px;
    }

    .cardWrapper {
        grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
        min-width: 100px;
    }

    h1 {
        font-size: 1.3em;
    }

    h2 {
        font-size: 1em;
    }
}

@media only screen and (max-width: 450px) {

    .sectionLeft {
        width: 100%;
        height: 10vh;
        text-align: center;
    }

    .sectionLeft:hover {
        height: 20vh;
    }

    .leftTitle {
        font-size: small;
        margin-left: 0.5rem;
    }

    .wrapperForSmallScreen {
        display: flex;
        flex-flow: column;
    }

    .cardWrapper {
        grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
        grid-template-rows: auto;
        grid-gap: 4px;
        min-width: auto;
        width: 100%;
    }

    .dropdown {
        margin-top: 0.5rem;
        position: relative;
        display: inline-block;
    }

    .dropdown:hover .dropdown-content {
        display: inline-block;
    }

}

@media only screen and (max-width: 360px) {
    .cardWrapper {
        grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
    }
    .shopDescription{
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        font-size: 1rem;
    }
    .toTheShopButton{
        font-size: 10px;
        padding: 10px;
    }
}

