.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(255,165,176,0.5);
    color: #6A197D;
    height: 15rem;
    border-top: solid 2px #E0DEDE;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-content: space-around;
}
.iconsArea{
    justify-self: end;
    align-self: center;
    margin-right: 1rem;
}
.footerIcon{
    height: 1.2rem;
    width: 1.2rem;
    margin-left: 0.6rem;
    background-color: white;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
}
.footerIcon:hover{
    box-shadow:  1px 1px 10px #6A197D;
}
.footerTextArea{
    margin-left: 1rem;
    align-self: center;
}
.footerTextAreaCenter{
    text-align: center;
    align-self: center;
}
.footerText{
    cursor: pointer;
}
.footerText:hover{
    text-decoration: underline;
}
.footerTextCenterTitle{
    font-weight: bolder;
    letter-spacing: 5px;
}
#getInTouch{
    text-align: end;
    margin-bottom: 2rem;
}
.sectionLeftWrapper{
    display: flex;
    margin: 1rem;
}
.leftTitle{
    color: #6A197D;
    font-size: medium;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}



@media only screen and (max-width: 770px) {
    .footerIcon{
        height: 0.9rem;
        width:  0.9rem;
        padding: 0.3rem;
    }
    .footerTextCenterTitle{
        font-weight: bolder;
        letter-spacing: 1px;
        font-size: large;
    }
    .footerTitle{
        font-size: small;
    }
    .footerText{
        font-size: small;
    }
}
@media only screen and (max-width: 590px)
{
    .iconsWrap{
        display: flex;
        flex-flow: column;
        justify-items: end;
    }
    .iconsArea{
        margin-right: 1rem;
    }
}
@media only screen and (max-width: 450px){
    .footerTextAreaCenter{
        display: none;
    }
    .footer {;
        height: 8rem;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .iconsWrap{
        display: flex;
        flex-flow: row;
    }
    .footerText{
        font-size: 8px;
    }
    .footerTitle{
        font-size: 10px;
    }
}
