.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(255, 165, 176, 0.5);
    color: #6A197D;
    height: 15rem;
    border-top: solid 2px #E0DEDE;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-content: space-around;
}

.iconsArea {
    justify-self: end;
    align-self: center;
    margin-right: 1rem;
}

.footerIcon {
    height:3rem;
    width: 3rem;
    margin-left: 0.6rem;
    background-color: white;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
}

.footerIcon:hover {
    box-shadow: 1px 1px 10px #6A197D;
}

.footerTextArea {
    margin-left: 1rem;
    align-self: center;
}

.footerTextAreaCenter {
    text-align: center;
    align-self: center;
}

.footerText {
    cursor: pointer;
}

.footerText:hover {
    text-decoration: underline;
}

.footerTextCenterTitle {
    font-weight: bolder;
    letter-spacing: 5px;
    cursor: default;
}

#getInTouch {
    text-align: end;
    margin-bottom: 2rem;
}

.leftTitle {
    color: #6A197D;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    margin-left: 1rem;
}

.dropdown {
    margin-top: 2rem;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.2rem;
    color: #6A197D;
    margin-top: 0.5rem;
}

hr{
    margin: 0;
}
.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

.dropdown-content:hover {
  text-decoration: underline;
}

#address{
    text-decoration: none;
    cursor: default;
}

.footerTitle{
    cursor: default;
}

@media only screen and (max-width: 900px) {
    .leftTitle {
        font-size: small;
        margin-left: 0.5rem;
    }
    .dropdown-content {
        min-width: 3rem;
        font-size: 0.5rem;
        padding: 0.05rem;
    }
    .footerTextCenterTitle {
        font-size: x-large;
    }
    .footerTitle {
        font-size: medium;
        font-weight: bold;
    }
    .footerIcon {
        height: 2.5rem;
        width: 2.5rem;
    }
    .footerText {
        font-size: medium;
    }
}

@media only screen and (max-width: 770px) {
    .footerIcon {
        height: 1.5rem;
        width: 1.5rem;
        padding: 0.5rem;
    }

    .footerTextCenterTitle {
        font-weight: bolder;
        letter-spacing: 1px;
        font-size: large;
    }

    .footerTitle {
        font-size: small;
    }

    .footerText {
        font-size: small;
    }
}

@media only screen and (max-width: 590px) {
    .iconsWrap {
        display: flex;
        flex-flow: column;
        justify-items: end;
    }

    .iconsArea {
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 450px) {
    .footerTextAreaCenter {
        display: none;
    }

    .footer {;
        height: 8rem;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .iconsWrap {
        display: flex;
        flex-flow: row;
    }

    .footerText {
        font-size: 8px;
    }

    .footerTitle {
        font-size: 10px;
    }
    .cardWrapper {
        grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
        min-width: 100px;
    }
    h1{
        font-size: 1.3em;
    }
    h2{
        font-size: 1em;
    }
}
